

/*=============== THANK YOU HEADER ===============*/
.ttimer__header{
    width: 100%;
    background: #FF5733;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    /* For Animation dark mode */
    transition: background-color .4s, color .4s;
  }
  .ttimer__container{
    display: grid;
    gap: .5rem;
    text-align: center;
    margin-top: var(--mb-0-75);
  }
  
  .ttimer{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--container-color);
    align-items: center;
    gap: 1.5rem;
    padding: 0 0 1rem 0;
  }
  
  .ttimer__title{
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--container-color);
  }
  
  .ttimer__number{
    color: var(--container-color);
    font-size: var(--bigger-font-size);
    font-weight: var(--font-heavy);
  }
  
  /*=============== THANK YOU HERO ===============*/
  .thank_you__container {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: var(--header-height);
    text-align: center;
    padding: 2rem 1rem;
  }

  .thank_you__title{
    font-size: var(--bigger-font-size);
    font-weight: var(--font-heavy);
    margin-bottom: var(--mb-0-5);
  }
   .thank_you__description{
    font-size: var(--h3-font-size);
    color: var(--text-color-light);
    margin-bottom: var(--mb-1-5);
  }
  
  .thank_you__description2{
    font-size: var(--h3-font-size);
    color: var(--text-color-light);
    margin-bottom: var(--mb-1-5);
  }
  
  .socials__description{
    font-size: var(--h2-font-size);
    color: var(--text-color);
    margin-bottom: var(--mb-1-5);
    padding: 0 2rem;
  }
  
  .t__links{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.2rem;
    margin-bottom: var(--mb-1-5);
  }
  .social__link{
    font-size: 1.25rem;
    color: var(--title-color);
    padding: .5rem;
    border-radius: 5px;
    transition: .3s;
  }
  .social__link:hover{
    background-color: var(--first-color);
    color: var(--container-color);
  }
  
  
  .quote {
    font-style: italic;
    color: #555;
    margin-bottom: var(--mb-1-5);
  }

  .thank_you__button{
    display: inline-block;
    margin-top: var(--mb-0-75);
    gap: 1rem;
    width: 300px;
    background-color: var(--first-color);
    color: var(--container-color);
    padding: 1rem 2rem;
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    text-decoration: none;
    transition: .3s;
  }
  
  /* Carousel Container */
  /* Carousel Container */
  /* Swiper Carousel */
  
  .hero-swiper {
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
    position: relative;
  }

  .card__data{
    position: absolute;
    top: initial;
    bottom: 5%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    padding: .5rem .5rem;
    border-radius: 5px;
  }
  
  .card__title{
    font-size: var(--small-font-size);
    font-weight: var(--font-heavy);
    color: var(--container-color);
    margin-bottom: var(--mb-0-5);
  }
  
  .card__description{
    font-size: var(--small-font-size);
    color: var(--container-color);
    margin-bottom: var(--mb-1-5);
  }
  .card__image{
    position: relative;
    width: 100%;
    border-radius: 1.25rem;
    margin-bottom: 3rem;
  }
  

  .card__link{
    font-size: 1.4rem;
    gap: 1rem;
    color: var(--container-color);
    padding: .5rem;
    border-radius: 5px;
    transition: .3s;
  }
  .card__link:hover{
    background-color: var(--first-color);
    color: var(--container-color);
  }
  
  /* Swiper class */
  .hero-swiper{
    margin-left: initial;
    margin-right: initial;
  }
  
  .swiper-button-prev::after,
  .swiper-button-next::after{
    content: '';
  }
  
  swiper-button-next,
  swiper-button-prev{
    top: initial;
    bottom: 5%;
    width: initial;
    height: initial;
    background-color: var(--container-color);
    box-shadow: 0 4px 12px hsla(0, 4%, 20%, .1);
    border-radius: .5rem;
    padding: .25rem;
    font-size: 1.5rem;
    color: var(--first-color);
  }

  .carousel__control{
    display: none;
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
  }

  .swiper-button-next,
  .swiper-button-prev{
    position: relative;
    top: initial;
    bottom: 5%;
    width: initial;
    height: initial;
    background-color: var(--container-color);
    box-shadow: 0 4px 12px hsla(0, 4%, 20%, .1);
    border-radius: .5rem;
    padding: .25rem;
    font-size: 1.5rem;
    color: var(--first-color);
  }
  
  .swiper-button-next{
    right: initial;
    left: 4rem;
  }
  
  .swiper-pagination{
    bottom: 1rem;
  }
  .swiper-pagination-bullet{
    background-color: var(--text-color-light);
    opacity: .5;
  }
  .swiper-pagination-bullet-active{
    background-color: var(--first-color);
    opacity: 1;
  }

/*=============== MEDIA QUERIES ===============*/
  /* For small devices */
@media screen and (max-width: 320px){

  }


@media screen and (min-width: 450px){

  }
  
  
  @media screen and (min-width: 576px){
    .thank_you__container{
        grid-template-columns: 440px;
    }
  
  }
  
  @media screen and (min-width: 768px) {
    .thank_you__container{
        grid-template-columns: 550px;
    }
  }
  

  /* For medium devices */

@media screen and (min-width: 1150px) {
  .section{
    padding-block: 7rem 2rem;
  }

  .thank_you__container{
    grid-template-columns: repeat(2, 440px);
    gap: 6rem;
    }

    .thank_you__data{
        text-align: left;
    }

    .thank_you__title{
        font-size: var(--biggest-font-size);
        font-weight: var(--font-heavy);
        margin-bottom: var(--mb-0-5);
    }

    .thank_you__description2{
        font-size: var(--small-font-size);
        color: var(--text-color-light);
        margin-bottom: var(--mb-1-5);
    }

    .socials__description{
        font-size: var(--small-font-size);
        font-weight: var(--font-semi-bold);
        text-align: left;
        color: var(--text-color);
        margin-bottom: var(--mb-1-5);
      }
      
      .t__links{
        display: flex;
        justify-content: left;
        align-items: left;
        column-gap: 1.2rem;
        margin-bottom: var(--mb-1-5);
      }
      .social__link{
        font-size: 1.5rem;
        color: var(--title-color);
        padding: .5rem;
        border-radius: 5px;
        transition: .3s;
      }
      .social__link:hover{
        background-color: var(--first-color);
        color: var(--container-color);
      }

} 



@media screen and (min-width: 1220px) {


}